body {
    padding: 0;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.block{
    font-family: 'Montserrat', sans-serif;
    margin-left: 45%;
    font-size: 50px;
    margin-bottom: 50px;
}
button {
    color: black;
    text-decoration: none;
    font-size: 28px; /* Увеличен размер шрифта */
    padding: 15px 30px; /* Увеличен размер отступов (padding) */
    border: 2px solid white;
    border-radius: 8px; /* Увеличен радиус скругления углов */
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.button_red{
    color: red;
}

.button_yellow{
    color: #e5e50c;
}

.button_green{
    color: green;
}